@model PRN222.Milktea.Service.BusinessModels.ComboModel

<link href="~/css/delete.css" rel="stylesheet" />

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Combo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId3Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ComboId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
