@model PRN222.Milktea.Service.BusinessModels.ComboModel

<h1>Details</h1>
<link href="~/css/detail.css" rel="stylesheet" />
<div>
    <h4>Combo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId3Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a class="btn-back" asp-action="Edit" asp-route-id="@Model?.ComboId">Edit</a> |
    <a class="btn-back" asp-action="Index">Back to List</a>
</div>
