@model IEnumerable<PRN222.Milktea.Service.BusinessModels.ComboModel>
<link href="~/css/index.css" rel="stylesheet" />
<h1>Index</h1>

<p>
	<a style="display: inline-block; background-color: #8b5a2b; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; margin-bottom: 20px;" asp-action="Create">Create New</a>
</p>
<table class="table product-table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ComboName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ComboPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ComboName)
				</td>
				<td>
					@(item.ComboPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@(item.IsActive.HasValue ? (item.IsActive.Value ? "Yes" : "No") : "Unknow")
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ComboId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ComboId">Details</a> |
					@if (item.IsActive == true)
					{
						<a asp-action="Delete" asp-route-id="@item.ComboId">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (ViewBag.Pagination != null)
{
	<nav>
		<ul class="pagination">
			<li class="page-item @(ViewBag.Pagination.PageIndex <= 1 ? "disabled" : "")">
				<a class="page-link"
				   asp-action="Index"
				   asp-route-pageIndex="@(ViewBag.Pagination.PageIndex - 1)">
					Previous
				</a>
			</li>

			<li class="page-item @(ViewBag.Pagination.PageIndex >= ViewBag.Pagination.PageTotals ? "disabled" : "")">
				<a class="page-link"
				   asp-action="Index"
				   asp-route-pageIndex="@(ViewBag.Pagination.PageIndex + 1)">
					Next
				</a>
			</li>
		</ul>
	</nav>
}