@model IEnumerable<PRN222.Milktea.Service.BusinessModels.ProductModel>

<link href="~/css/index.css" rel="stylesheet" />
<h1>Index</h1>

<p>
	<a style="display: inline-block; background-color: #8b5a2b; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; margin-bottom: 20px;" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@(item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductType)
				</td>
				<td>
					@(item.IsActive.HasValue ? (item.IsActive.Value ? "Yes" : "No") : "Unknow")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryName)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
					@if (item.IsActive == true)
					{
						<a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
